/* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */
/* img{
    width: 450px;
    height: 300px;
    margin: 2px;
}
p{
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 20px; */
    
}
span{
    font-size:medium;
}
